<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628499617262-trjoob235k4ne12td051asuge805vlic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628499617262-trjoob235k4ne12td051asuge805vlic</string>
	<key>API_KEY</key>
	<string>AIzaSyAuSWFG99lHaXwnTCK_0YF6ZCb55ZSIPM0</string>
	<key>GCM_SENDER_ID</key>
	<string>628499617262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digital.pokerbuddy</string>
	<key>PROJECT_ID</key>
	<string>poker-21369</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-21369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628499617262:ios:871dc12380517750e0eaff</string>
	<key>DATABASE_URL</key>
	<string>https://poker-21369.firebaseio.com</string>
</dict>
</plist>